<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" href="./css/all.css" /> -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/socket.js"></script>
    <script src="/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.js"></script>
    <title>首頁</title>
  </head>
  <body>
    <div class="container-full"><%- include("./partials/navbar") %></div>
    <div class="container-full">
      <div class="jumbotron"></div>
    </div>
    <div class="hero">
      <div class="container">
        <input type="text" id="searchbox" oninput="onevent()" />
        <div class="result"></div>
      </div>
    </div>
    <script>
      function onevent() {
        let input = document.querySelector("#searchbox").value;
        axios.get("/test2").then(async (res) => {
          let data = await res.data;

          console.log(data.indexOf(Number(input)));
        });
      }
    </script>
  </body>
</html>
