<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" href="./css/all.css" /> -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/socket.js"></script>
    <script src="/js/all.js"></script>
    <title>首頁</title>
  </head>
  <body>
    <div class="container-full"><%- include("./partials/navbar") %></div>
    <div class="container-full">
      <div class="jumbotron"></div>
    </div>
    <div class="container font-white">
      <% Post.forEach(value=>{ %>
      <p>作者 : <%= value.author %></p>
      <p>標題 : <%= value.title %></p>
      <p>內容 : <%= value.content %></p>
      <br />
      <% }) %> <% if(!user) { %>
      <p>請先<a href="/auth/login">登入</a>方能留言</p>
      <% }else { %>
      <form action="/board" method="POST" class="form">
        <label for="title">標題 : </label>
        <input name="title" type="text" />
        <label for="title">內容 : </label>
        <textarea name="content"></textarea>
        <label for="anonymous">匿名留言：</label>
        <input type="checkbox" name="anonymous" />
        <button type="submit">刊登留言</button>
      </form>
      <% } %>
    </div>
  </body>
</html>
