<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" href="./css/all.css" /> -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/socket.js"></script>
    <script src="/js/all.js"></script>
    <title>首頁</title>
  </head>
  <body>
    <div class="container-full"><%- include("./partials/navbar") %></div>
    <div class="container-full">
      <div class="jumbotron"></div>
    </div>
    <div class="hero">
      <div class="container">
        <a
          href="https://drive.google.com/file/d/1PMMUkbgVPZ1QRjSErFdnQruuovBhnKMy/view?usp=sharing"
          class="btn"
          >客戶端下載</a
        >
      </div>
    </div>
    <script>
      //   setInterval("location.href = 'http://localhost:8051/auth/login'", 3000);
    </script>
  </body>
</html>
