<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" href="./css/all.css" /> -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/socket.js"></script>
    <script src="/js/all.js"></script>
    <title>首頁</title>
  </head>
  <body>
    <div class="container-full"><%- include("./partials/navbar") %></div>
    <div class="container-full">
      <div class="jumbotron"></div>
    </div>
    <div class="container font-white">
      <form action="/auth/signup" method="POST" class="form">
        <label for="userid">帳號 : </label>
        <input type="text" name="userid" required="true" />
        <label for="user_pass">密碼 : </label>
        <input type="password" name="user_pass" required="true" />
        <label for="email">email : </label>
        <input type="email" name="email" required="true" />
        <label for="userid">性別 : </label>
        <select name="sex">
          <option value="M">男</option>
          <option value="F">女</option>
        </select>
        <% if(error_msg) { %><%= error_msg %><% } %>
        <button type="submit">送出</button>
      </form>
    </div>
  </body>
</html>
